#custom-btn {
    background-color: #0dcaf05f;
    width: 30%;
    margin-inline-start: 70%;
    margin-top: 3px;
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

#doc-container {
    margin-top: 3rem;
}
#custom-box {
    background-color: #0dcaf05f;
}

#modal-btn-close {
    margin: auto;
}

.alert {
    border-width: 5px;
    border-top: none;
    border-left: none;
}